header {
    display: flex;
    justify-content: space-between;
    font-size: large;
    align-items: center;
}

main{
    font-family: monospace;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 350px
}

button {
    background-color:  blueviolet;
    color: white;
    font-family: monospace;
    font-size: large;
    font-weight: 500;
    margin: 15px;
    border-radius: 10%;
}